@import url("./reset.css");
@import url("./fonts.css");
@import url("./output.css");

::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-track {
  background-color: #cecfd3;
  border-radius: 0.2rem;
}
::-webkit-scrollbar-thumb {
  background-color: #a2a4ac;
  border-radius: 0.2rem;
}
::-webkit-scrollbar-thumb:active {
  background-color: #7e7f85;
  border-radius: 0.2rem;
}
::selection {
  background-color: rgb(254, 215, 170);
  color: #097a7a;
}
::-moz-selection {
  background-color: rgb(254, 215, 170);
  color: #097a7a;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --swiper-navigation-color: #3b3b3bb6;
  --swiper-navigation-size: 20px;
  --swiper-pagination-color: #3b3b3bb6;

  user-select: none;
}
body {
  overflow-x: hidden;
}
input::placeholder {
  font-family: dana;
}
.swiper-button-next,
.swiper-button-prev {
  box-sizing: content-box;
  padding: 0.5rem;
  background-color: #ffffff40;
  border-radius: 0.5rem;
  transition: all ease-in-out 150ms 20ms;

  &:hover {
    background-color: #00000010;
  }
}
.swal2-container {
  font-family: "dana";
}
.swal2-title {
  font-family: "danaBold";
}
.MuiButtonBase-root {
  border-radius: 0.6rem;
  margin-bottom: 0.5rem;
  font-family: "dana";
}
.MuiStack-root {
  direction: ltr;
}
.active-panel-menu {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: #fb983c;
    margin: auto;
    height: 90%;
    width: 3px;
    top: 0;
    bottom: 0;
    right: -14px;
    border-radius: 0.5rem;
  }
}

.active-orders-page {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: #dc26269f;
    margin: auto;
    height: 2px;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
}
.active-orders-page-wrapper::-webkit-scrollbar {
  display: none;
}

.box-shadow {
  box-shadow: 0 0 5px #999999;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeSmall.MuiButton-textSizeSmall.MuiButton-colorPrimary {
  font-family: dana;
}

.size_16 {
  width: 64px !important;
  height: 64px !important;
}

.w_71 {
  width: 71px !important;
}

.fontDanaDemi {
  font-family: danaDemi !important;
}

@media print {
  header,
  footer,
  .status-btns-wrapper {
    display: none;
  }
  @page {
    size: auto;
    margin: 0;
  }
}
