@import url("./reset.css");
@import url("./fonts.css");
@import url("./output.css");

::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-track {
  background-color: #cecfd3;
  border-radius: 0.2rem;
}
::-webkit-scrollbar-thumb {
  background-color: #a2a4ac;
  border-radius: 0.2rem;
}
::-webkit-scrollbar-thumb:active {
  background-color: #7e7f85;
  border-radius: 0.2rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --swiper-navigation-color: #3b3b3b;
  --swiper-navigation-size: 24px;
}
body {
  background: #eff1f5;
  overflow-x: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  box-sizing: content-box;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
